In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("files/Dataset_Unificado_Proyecto.csv", sep=";")

/var/folders/dc/_dt3fhrs48n2b_4mmncch3440000gp/T/ipykernel_28970/38729654.py:1: DtypeWarning: Columns (1,3,4,5,7,8,9,11,13,14,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("files/Dataset_Unificado_Proyecto.csv", sep=";")

In [3]:
#variables geográficas

df["DEPTO"] = pd.to_numeric(df["DEPTO"], errors="coerce")
df["MUNICIPIO"] = pd.to_numeric(df["MUNICIPIO"], errors="coerce")

df["DEPTO"] = df["DEPTO"].astype("category")
df["MUNICIPIO"] = df["MUNICIPIO"].astype("category")

mapa_deptos = {
    1: "Guatemala",
    2: "El Progreso",
    3: "Sacatepéquez",
    4: "Chimaltenango",
    5: "Escuintla",
    6: "Santa Rosa",
    7: "Sololá",
    8: "Totonicapán",
    9: "Quetzaltenango",
    10: "Suchitepéquez",
    11: "Retalhuleu",
    12: "San Marcos",
    13: "Huehuetenango",
    14: "Quiché",
    15: "Baja Verapaz",
    16: "Alta Verapaz",
    17: "Petén",
    18: "Izabal",
    19: "Zacapa",
    20: "Chiquimula",
    21: "Jalapa",
    22: "Jutiapa"
}

df["DEPTO_NOMBRE"] = df["DEPTO"].map(mapa_deptos)
df["DEPTO_NOMBRE"] = df["DEPTO_NOMBRE"].astype("category")

municipios = pd.read_csv("files/municipios.csv")
mapa_municipios = dict(
    zip(municipios["MUNICIPIO_CODIGO"], municipios["MUNICIPIO_NOMBRE"])
)

df["MUNICIPIO_NOMBRE"] = df["MUNICIPIO"].map(mapa_municipios)
df["MUNICIPIO_NOMBRE"] = df["MUNICIPIO_NOMBRE"].astype("category")

In [4]:
#fecha

mapa_meses = {
    "Enero": 1,
    "Febrero": 2,
    "Marzo": 3,
    "Abril": 4,
    "Mayo": 5,
    "Junio": 6,
    "Julio": 7,
    "Agosto": 8,
    "Septiembre": 9,
    "Octubre": 10,
    "Noviembre": 11,
    "Diciembre": 12
}

df["MES"] = df["MES"].map(mapa_meses)

df["ANO"] = pd.to_numeric(df["ANO"], errors="coerce")
df["MES"] = pd.to_numeric(df["MES"], errors="coerce")
df["DIA"] = pd.to_numeric(df["DIA"], errors="coerce")

In [5]:
#victima
df["VIC_SEXO"] = df["VIC_SEXO"].astype("category")
df["VIC_EDAD"] = pd.to_numeric(df["VIC_EDAD"], errors="coerce")
df["VIC_ESCOLARIDAD"] = df["VIC_ESCOLARIDAD"].astype("category")
df["VIC_EST_CIV"] = df["VIC_EST_CIV"].astype("category")
df["VIC_REL_AGR"] = df["VIC_REL_AGR"].astype("category")

#agresor
df["AGR_SEXO"] = df["AGR_SEXO"].astype("category")
df["AGR_EDAD"] = pd.to_numeric(df["AGR_EDAD"], errors="coerce")
df["AGR_GRUPET"] = df["AGR_GRUPET"].astype("category")

#de hecho
df["TIPAGRE"] = df["TIPAGRE"].astype("category")
df["MUNICIPIO"] = df["MUNICIPIO"].astype("category")
df["RECUR_DENUN"] = df["RECUR_DENUN"].astype("category")

#familiar
df["TOTAL_HIJOS"] = pd.to_numeric(df["TOTAL_HIJOS"], errors="coerce")

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 389799 entries, 0 to 389798
Data columns (total 29 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ANO               389799 non-null  float64
 1   MES               224432 non-null  float64
 2   DIA               389798 non-null  float64
 3   DEPTO             196636 non-null  category
 4   AREA              328765 non-null  object
 5   VIC_SEXO          328765 non-null  category
 6   VIC_EDAD          326105 non-null  float64
 7   VIC_EST_CIV       327258 non-null  category
 8   VIC_ESCOLARIDAD   328117 non-null  category
 9   VIC_REL_AGR       328765 non-null  category
 10  TOTAL_HIJOS       265350 non-null  float64
 11  AGR_SEXO          328765 non-null  category
 12  AGR_EDAD          315770 non-null  float64
 13  AGR_GRUPET        328765 non-null  category
 14  TIPAGRE           328765 non-null  category
 15  LEY_APLICABLE     169575 non-null  object
 16  RECUR_DENUN       328765 non-null  category
 17  TIPO_EVENTO       389799 non-null  object
 18  MUNICIPIO         61034 non-null   category
 19  EDAD_HOM          61034 non-null   float64
 20  EDAD_MUJ          61034 non-null   float64
 21  ETNIA_HOM         61034 non-null   float64
 22  ETNIA_MUJ         61034 non-null   float64
 23  ESCOLARIDAD_HOM   61034 non-null   float64
 24  ESCOLARIDAD_MUJ   61034 non-null   float64
 25  OCUPACION_HOM     61034 non-null   float64
 26  OCUPACION_MUJ     61034 non-null   float64
 27  DEPTO_NOMBRE      0 non-null       category
 28  MUNICIPIO_NOMBRE  30870 non-null   category
dtypes: category(12), float64(14), object(3)
memory usage: 55.8+ MB

In [6]:
#edad
def limpiar_edad(col, min_edad=0, max_edad=120):
    col = pd.to_numeric(col, errors="coerce")

    col = col.where(
        (col >= min_edad) & (col <= max_edad),
        np.nan
    )

    return col

df["VIC_EDAD"] = limpiar_edad(df["VIC_EDAD"])
df["AGR_EDAD"] = limpiar_edad(df["AGR_EDAD"])

df["VIC_EDAD"].describe()
df["AGR_EDAD"].describe()

df["VIC_EDAD"].isna().sum()
df["AGR_EDAD"].isna().sum()

df["EDAD_MUJ"] = limpiar_edad(df["EDAD_MUJ"])
df["EDAD_HOM"] = limpiar_edad(df["EDAD_HOM"])

print(df["EDAD_MUJ"].max())
print(df["EDAD_HOM"].max())

81.0
98.0